body{
    margin: 0;
  }
  
  html{
    font-size: 100%;
    font-family: Open Sans,sans-serif;
  }
  
  .navMenu{
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #ebf2f2;
  }
  
  @media (max-width: 1200px) and (min-width: 900px){
    .navMenu{
    padding-right: 20px;
  }
  }
  
  @media (max-width: 900px){
    .navMenu {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ebf2f2;
  }
  }
  
  .container{
    display: flex;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .logo{
    height: 48px;
    max-width: 250px;
  }
  
  @media (max-width: 1100px){ 
    .logo {
    height: 30px;
  }
  }
  
  .menuItems{
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 700px;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
  }
  
  
  .dropdownMenu{
    transform: rotate(45deg) translateY(-6px);
    -webkit-transform: rotate(45deg) translateY(-6px);
    border: solid #191e1e;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
  }
  
  
  
  li {
    color:inherit;
    display:inline-block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  }
    
  li a {
    color: inherit;
    text-decoration: none;
  }
  
  li:hover {
    cursor: pointer;
  }
  
  .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }
  
  @media (min-width: 900px){
  .MenuCont:hover > ul,
  .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background: #fff;
    width: 190px;
    box-shadow: 0 5px 30px 0 rgb(108 135 135 / 50%);
    top: 65px;
    padding: 25px 15px;
  }}
  
  .elemDropdownMenu{
    clear: both;
    width: 100%;
    padding: 5px;
  }
  
  .elemDropdownMenu:hover{
      color: green;
  }
  
  .allProjects{
    display: inline-block;
    color: blue;
    margin-bottom: 20px;
    
  }
  
  .uppCase{
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 5px;
  }
  
  .smallVersion{
    display: none;
  }
  
  @media (max-width: 900px){
    .smallVersion {
    display: block;
    position: fixed;
    right: 15px;
    top: 8px;
  }
  }
  
  
  
  @media (max-width: 900px){
  
    .MenuCont,
    .dropdown.active {
        position: relative;
      visibility: visible;
      opacity: 1;
      display: inline-block;
      color: #98afae;
      font-size: 1.3rem;
      padding: 0;
    }
  
  .hamburger {
    padding: 10px;
  }
  .hamburger.active .burger:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .burger:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background:#fff;
  }
  .hamburger.active .burger:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background:#fff;
  }
  
  .menuItems{
    display: flex;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    left: -100%;
    top: 0px;
    flex-direction: column;
    background-color: #262626;
   align-items: start;
   padding: 80px 60px 60px 40px;
    transition: 0.3s;
    box-sizing: border-box;
  }
  
  .menuItems.active{
    left: 0;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #666;
  }
  
  .nav-link{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    transition: color .2s; 
    padding-right: 30px;
  }
  .dropdownMenu.active{
    -webkit-transform: rotate(45deg) translateY(15px) scale(-1);
  }
  .dropdownMenu{
    -webkit-transform: rotate(45deg) translate(-5px,5px) scale(1);
    transition: transform .2s ease-out;
    border: solid #98afae;
    border-width: 0 2px 2px 0;
    padding: 5px;
    display: block;
  }
  .dropdown{
    z-index: 1;
  }
  }
  
  .burger {
    display: block;
    width: 19px;
    height: 3px;
    background: #191e1e;
    margin: 0 0 5px;
  }
  
  .pr{
    padding-top: 80px;
  }
  
  .cont{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .h1Project{
    font-size: 3.75rem;
    line-height: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em; 
    font-family: Metropolis,sans-serif;
  }
  
  @media (max-width: 800px){
  .h1Project{
    font-size: 3rem;
  }
  }
  
  p{
    max-width: 990px;
    line-height: 1.7em;
  }
  
  .desc{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Metropolis,sans-serif;
  }
  
  @media (max-width: 800px){
  .desc {
    font-size: 1.25rem;
  }
  }
  
  .bot{
    margin-bottom: 80px;
  }
  
  @media (max-width: 800px){
  .bot {
    margin-bottom: 50px;
  }
  }
  
  
  .mainContent{
    background-color: #ebf2f2;
    padding: 50px 0;
  }
  
  .mainSearchBox {
    margin: 30px 250px;
  }
  
  @media (max-width: 900px){
    .mainSearchBox{
        margin: 20px 10px;
    }
    }
  
  .mainSearch {
    padding: 2rem;
    border: none;
    box-shadow: 0px -6px 8px rgba(234, 237, 242, 0.5),
      0px 6px 8px rgba(234, 237, 242, 0.5);
    border-radius: 4rem;
    width: 100%;
    height: 5rem;
    font-size: 1.8rem;
    outline: none;
  }
  
  @media (max-width: 900px){
    .mainSearch{
       width: 100%;
    }
    }
  
  .mainSearch::placeholder {
    color: #bdbdbd;
    font-size: 1.8rem;
  }
  
  
  .containerMain{
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .displ1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .displ1.active{
    display: none;
  }
  
  .noResults{
  margin: 0% 40%;
  font-size: 1.8rem;
  }
  
  @media (max-width: 800px){
    .noResults{
        font-size: 1rem;
    }
    }
  
  .card{
    padding: 40px 30px;
    margin-bottom: 25px;
    width: 49%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #d9e9e9;
  background-color:white;
  }
  
  
  
  @media (max-width: 800px){
    .card {
        width: 100%;
    }
    }
  
  a:hover {
    cursor: pointer;
  }
  
  .shadow{
    transition: all .2s,transform .2s;
    transform: translateY(0);
    position: relative;
    box-shadow: none;
    top: 0;
  }
  
  .shadow:focus, .shadow:hover {
    transform: translateY(-3px);
    top: -3px;
    box-shadow: 0 10px 20px 0 rgb(108 135 135 / 20%);
  }
  
  .iconCard{
    width: 18.5%;
    align-self: flex-start;
  }
  
  .iconCardSmall {
    height: 60px;
  }
  
  @media (max-width: 800px){
  .iconCardSmall {
    height: auto;
    max-height: 60px;
    max-width: 70px;
  }
  }
  
  .sizeTextCard{
    width: 80%;
  }
  
  .cardDesc{
    font-size: 1.5rem;
    margin:0
  }
  
  img{
    max-width: 100%;
  }